<h1>Terms of Service</h1>

<table>
  <thead>
    <tr>
      <th>Agreement Terms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.terms %></td>
      </tr>
    <% end %>
  </tbody>
</table>
