<h1>Privacy Policy</h1>

<table>
  <thead>
    <tr>
      <th>Privacy Notice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @privacies.each do |privacy| %>
      <tr>
        <td><%= privacy.privacy_notice %></td>
      </tr>
    <% end %>
  </tbody>
</table>

